#skills *{
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    font-family: sans-serif;
    color: aquamarine;
}

#skills ul {
    width: 400px;
    min-width: 65%;
    margin: 60px auto;
}

#skills ul li {
    margin: 30px 0;
}

#skills ul li .percent {
    font-size: 16px;
}

#skills .bar {
    margin-top: 5px;
    background-color: #ededed;
    display: block;
    height: 6px;
    border-radius: 20px;
    overflow: hidden;
}

#skills .bar span {
    height: 6px;
    float: left;
    background:#67B26F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#skills .html {
    -webkit-animation-name: progress-html;
    animation-name: progress-html;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
#skills .css {
    -webkit-animation-name: progress-css;
    animation-name: progress-css;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
#skills .bootstrap {
    -webkit-animation-name: progress-bootstrap;
    animation-name: progress-bootstrap;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
#skills .js {
    -webkit-animation-name: progress-js;
    animation-name: progress-js;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}
#skills .react {
    -webkit-animation-name: progress-react;
    animation-name: progress-react;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
#skills .wp {
    -webkit-animation-name: progress-wp;
    animation-name: progress-wp;
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
}
#skills .php {
    -webkit-animation-name: progress-php;
    animation-name: progress-php;
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s;
}
#skills .mysql {
    -webkit-animation-name: progress-mysql;
    animation-name: progress-mysql;
    -webkit-animation-delay: 5.6s;
    animation-delay: 5.6s;
}
#skills .git {
    -webkit-animation-name: progress-git;
    animation-name: progress-git;
    -webkit-animation-delay: 6.3s;
    animation-delay: 6.3s;
}

@-webkit-keyframes progress-html {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}
@-moz-keyframes progress-html {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}
@keyframes progress-html {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

@-webkit-keyframes progress-css {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}
@-moz-keyframes progress-css {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}
@keyframes progress-css {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

@-webkit-keyframes progress-bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}
@-moz-keyframes progress-bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}
@keyframes progress-bootstrap {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@-webkit-keyframes progress-js {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}
@-moz-keyframes progress-js {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}
@keyframes progress-js {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@-webkit-keyframes progress-react {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}
@-moz-keyframes progress-react {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}
@keyframes progress-react {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@-webkit-keyframes progress-wp {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}
@-moz-keyframes progress-wp {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}
@keyframes progress-wp {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@-webkit-keyframes progress-php {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}
@-moz-keyframes progress-php {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}
@keyframes progress-php {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@-webkit-keyframes progress-mysql {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}
@-moz-keyframes progress-mysql {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}
@keyframes progress-mysql {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}

@-webkit-keyframes progress-git {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}
@-moz-keyframes progress-git {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}
@keyframes progress-git {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}
