.bg-header {
    background: #67B26F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.social-icons {
    margin-top: -60px;
}

.social-icon {
    color: rgb(111, 45, 189);
}
.social-icon:hover {
    color: rgba(111, 45, 189, .8);
}

@media only screen and (max-width: 767px) {
    .bg-header h1,
    .bg-header h2 {
        text-align: center;
        text-shadow: 1px 1px 1px #103b5b !important;
    }
    .bg-header h1 {
        font-size: 38px;
    }
    .bg-header h2 {
        font-size: 23px;
    }
}