.bg-header {
    background: #67B26F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-header h1,
.bg-header h2 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px 1px #103b5b !important;
    color: #3D4351;
}
.bg-header h1 {
    font-size: 28px;
}
.bg-header h2 {
    font-size: 14px;
}

.social-icons {
    margin-top: -60px;
}
.social-icon {
    color: rgba(61,67,81,1);
}
.social-icon:hover {
    color: rgba(61,67,81,.8);
    transition: 0.3s;
}

@media only screen and (max-width: 767px) {
    .bg-header h1,
    .bg-header h2 {
        text-align: center;
    }
    .bg-header h1 {
        font-size: 24px;
    }
    .bg-header h2 {
        font-size: 10px;
    }
}

@media only screen and (max-width: 414px) {
    .bg-header h1 {
        font-size: 20px;
    }
    .bg-header h2 {
        font-size: 7px;
    }
}